@tailwind base;
@tailwind components;
@tailwind utilities;

header
{
  background-color: #2991d6;

}
body {
  margin: 0;
  padding-top: 64px; /* Altura del Header */
  padding-bottom: 64px; /* Altura del BottomNav */
 
}

html, body, #root {
  height: 80%;
}

.min-h-screen {
  min-height: calc(100vh - 128px); /* Resta la altura del Header y del BottomNav */
}